In [42]:
import pandas as pd
import requests

# Read the CSV files into pandas DataFrames
location_costs = pd.read_csv('https://raw.githubusercontent.com/kflemming30/6505-Project/main/cost_of_living_us.csv')

airbnb_property_reviews = pd.read_csv('https://raw.githubusercontent.com/kflemming30/6505-Project/main/Airbnb_Open_Data.csv',
    dtype=str) 

temperatures = pd.read_csv("C:\\Users\\12039\\Documents\\6505-Project\\city_temperature.csv",dtype=str)

rhode_island_reviews = pd.read_csv("https://raw.githubusercontent.com/kflemming30/6505-Project/main/rhode_island_reviews.csv",dtype=str)

In [43]:
airbnb_property_reviews.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10,9,10/19/2021,0.21,4,6,286,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30,45,5/21/2022,0.38,4,2,228,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.9419,United States,...,$124,3,0,NaN,NaN,5,1,352,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30,270,7/5/2019,4.64,4,1,322,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10,9,11/19/2018,0.1,3,1,289,"Please no smoking in the house, porch or on th...",NaN

In [44]:
us_temperatures = temperatures[temperatures['Country'] == 'US']

In [45]:
us_temperatures.head()

,Region,Country,State,City,Month,Day,Year,AvgTemperature
1450990,North America,US,Alabama,Birmingham,1,1,1995,50.7
1450991,North America,US,Alabama,Birmingham,1,2,1995,37.2
1450992,North America,US,Alabama,Birmingham,1,3,1995,33.2
1450993,North America,US,Alabama,Birmingham,1,4,1995,33.3
1450994,North America,US,Alabama,Birmingham,1,5,1995,26.4

In [46]:
rhode_island_reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,10262,12038540,2014-04-21,1161749,Lisa,Pete and Paula are wonderful hosts! The prope...
1,10262,12479517,2014-05-03,3264857,Julia,We stayed for 2 nights at Paula's and Pete's h...
2,10262,12598139,2014-05-05,14946725,Michael,"As a simple man in a high tech land, it warmed..."
3,10262,12850488,2014-05-12,14634461,Sarah,This is a very pleasant place to stay. Paula a...
4,10262,15083629,2014-07-01,6409407,Zach,What an amazing place! Very welcoming people w...

In [47]:
import requests

url = "https://rigov.s3.amazonaws.com/election/results/2022/general_election/statewide.json"

# Send a GET request to the URL
response = requests.get(url)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    # Access the JSON data
    json_data = response.json()
    
    # Convert the JSON data to a DataFrame
    rhode_island_politics = pd.DataFrame(json_data)
    
    # Display the DataFrame
    print(rhode_island_politics)
else:
    print(f"Failed to fetch data. Status code: {response.status_code}")

      election_name      election_date                last_updated  \
0  General Election  November 08, 2022  November 22, 2022 02:54 PM
1  General Election  November 08, 2022  November 22, 2022 02:54 PM
2  General Election  November 08, 2022  November 22, 2022 02:54 PM
3  General Election  November 08, 2022  November 22, 2022 02:54 PM
4  General Election  November 08, 2022  November 22, 2022 02:54 PM
5  General Election  November 08, 2022  November 22, 2022 02:54 PM
6  General Election  November 08, 2022  November 22, 2022 02:54 PM
7  General Election  November 08, 2022  November 22, 2022 02:54 PM
8  General Election  November 08, 2022  November 22, 2022 02:54 PM
9  General Election  November 08, 2022  November 22, 2022 02:54 PM

  precinct_count precincts_reporting  \
0            414                 413
1            414                 413
2            414                 413
3            414                 413
4            414                 413
5            414                 413
6            414                 413
7            414                 413
8            414                 413
9            414                 413

                                            contests
0  {'name': 'Representative in Congress District ...
1  {'name': 'Representative in Congress District ...
2  {'name': 'Governor', 'contest_number': '3', 'p...
3  {'name': 'Lieutenant Governor', 'contest_numbe...
4  {'name': 'Secretary of State', 'contest_number...
5  {'name': 'Attorney General', 'contest_number':...
6  {'name': 'General Treasurer', 'contest_number'...
7  {'name': '1. URI NARRAGANSETT BAY CAMPUS - $10...
8  {'name': '2. RHODE ISLAND SCHOOL BUILDINGS - $...
9  {'name': '3. GREEN ECONOMY BONDS - $50,000,000...

In [48]:
rhode_island_politics['contests'][0]

{'name': 'Representative in Congress District 1',
 'contest_number': '1',
 'precinct_count': '195',
 'precincts_reporting': '195',
 'total_votes': '156734',
 'votes_allowed': '1',
 'candidates': [{'name': 'DEM David N. Cicilline',
   'party_code': 'DEM',
   'votes': '100318'},
  {'name': 'REP Allen R. Waters', 'party_code': 'REP', 'votes': '56055'},
  {'name': 'Write-in', 'party_code': 'NON', 'votes': '361'}]}